<h1>Listing trail_mixes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ingredients</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trail_mixes.each do |trail_mix| %>
      <tr>
        <td><%= trail_mix.name %></td>
        <td><%= trail_mix.ingredients %></td>
        <td><%= link_to 'Show', trail_mix %></td>
        <td><%= link_to 'Edit', edit_trail_mix_path(trail_mix) %></td>
        <td><%= link_to 'Destroy', trail_mix, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trail mix', new_trail_mix_path %>
